<section  id="callback-section-id" class="call-back">
  <div class="cb-text">
      <h2 class="call-back-head">Still Confused?</h2>
      <p class="call-back-text">
          Let us find the best yoga solution for you
      </p>
  </div>
  <div class="cb-form">
      <input id="phone-num" type="text" placeholder="+91  Phone number" />
      <button class="call-back-btn" type="button" onclick="submitCallback()" id="callback-id">Schedule Callback</button>
  </div>
</section>

<footer>
    <div class="contact-us">
        <h3 class="footer-title">Contact Us</h3>
        <p class="address">Health Highway Private Limited <br> Plot No.14, Shiva Enclave, Rishikesh Uttarakhand - 249401</p>
        <a class="ph-link" href="tel:+91-9520785339" ><img src="https://ik.imagekit.io/healthhighway2020/phone-receiver-silhouette_3z8QpapNk.png?updatedAt=1634727835850" alt="ico">+91-9520785339</a>
        <a class="mail-link" href="mailto:info@healthhighway.co.in" ><img src="https://ik.imagekit.io/healthhighway2020/arroba_4oMa5o9C8nI.png?updatedAt=1634727995584" alt="ico">info@healthhighway.co.in</a>
    </div>
    <div class="more-about-us">
        <h3 class="footer-title">More About us</h3>
        <nav>
            <ul class="footer-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/Group-Yoga-Classes">Group Sessions</a>
                </li>
                <li>
                    <a href="/1-on-1-Pricing-Plan">Private Sessions</a>
                </li>
                <li>
                    <a href="https://blogs.healthhighway.co.in/">Blogs</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="social-links">

        <h3 class="footer-title desktop-only">Social Links</h3>
        <div class="container-social">
            <div class="line"></div>
            <a class="social-media" target="_blank" href="https://www.facebook.com/healthhighwayin/"><img src="https://ik.imagekit.io/healthhighway2020/facebook_iGV5ZnVbO.png?updatedAt=1634728425492" alt="ico"></a>
            <a class="social-media" target="_blank" href="https://www.instagram.com/healthhighwayin/"><img src="https://ik.imagekit.io/healthhighway2020/instagram_Lj9W8mcHzAR.png?updatedAt=1634728263976" alt="ico"></a>
            <a class="social-media" target="_blank" href="https://www.linkedin.com/company/healthhighway/"><img src="https://ik.imagekit.io/healthhighway2020/linkedin_8dwQ1H6AMjj.png?updatedAt=1634728496569" alt="ico"></a>
            <div class="line"></div>
        </div>
        <!-- <button class="btn-contact-us">Contact Us</button> -->
    </div>


    <div class="copy-tnc">
        <p class="copyright">Copyright © 2020-21 All Rights Reserved</p>
        <a class="terms-privacy" href="/terms-and-conditions">Terms</a> | <a class="terms-privacy" href="/privacy-policy">Privacy</a>
    </div>
</footer>

<script>
    var modalClose = document.querySelector(".closeSend");
    const submitCallback = async () => {
        let inputText = parseInt(document.querySelector("#phone-num").value);
        var regexp = /^\d{10}$/;
        if(regexp.test(inputText))
        {
            const response = await fetch("https://api.healthhighway.co.in/data/schedule-callback", {
                method  :"POST",
                headers : {
                    'Content-type' : 'application/json'
                },
                body : JSON.stringify({CONTACT : "+91"+inputText})
            });
            const decode = await response.json();
            console.log(decode);
            document.getElementById("callback-id").style.pointerEvents="none";
            infoModalOpenFunction("/images/callbackBooked.svg", "Callback Scheduled We will Contact you Shortly");
        }
        else
        {
            infoModalOpenFunction("/images/callbackBooked.svg", "Please Enter Correct 10 Digit Number");
        }
    }
    
</script>