<style>.call-back{padding:1em 5%;background-color:#4ca9ee;color:#fff}.call-back-head{font-family:"Open Sans";text-align:center}.call-back-text{font-family:"Open Sans";text-align:center;font-size:.85rem;padding-top:.2em}#phone-num{display:block;padding:.8em 1em;border:none;outline:none;font-family:"Montserrat";font-size:1rem;margin:1em auto;border-radius:.2em}.call-back-btn{display:block;margin:1em auto;padding:.6em 1.4em;font-family:"Montserrat";background-color:transparent;border:.15em solid #fff;outline:none;cursor:pointer;font-size:1.1rem;font-weight:bold;color:#fff;border-radius:.5em}@media(min-width:414px){.call-back{display:flex;text-align:left;flex-direction:column}.call-back-head{text-align:left;font-size:18px}.call-back-text{text-align:left;font-size:12px}.cb-form{display:flex}.call-back-btn{font-size:12px;padding:1em .5em;height:max-content;align-self:center;margin:1em 0;margin-left:1em}#phone-num{margin:1em 0}}@media(min-width:768px){.call-back{padding:2em 10%;display:flex;flex-direction:column;justify-content:flex-start;text-align:left}.call-back-head{text-align:left;font-size:2rem}.call-back-btn{margin:1em auto}.call-back-text{text-align:left;font-size:.9rem}.call-back-btn{-webkit-transition:.2s ease-in;transition:.2s ease-in;margin:1em 0;margin-left:1.5em;font-size:1rem;padding:.6em 1.4em}.call-back-btn:hover{background-color:#fff;color:#4ca9ee}.cb-form{display:flex;justify-content:flex-start}#phone-num{margin:1em 0;width:50%}}@media(min-width:1024px){.call-back{padding:2em 8%;display:grid;-ms-grid-columns:40% 60%;grid-template-columns:40% 60%}.cb-text{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.cb-form{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.call-back-head{font-size:2.2rem}.cb-form{display:-webkit-box;display:-ms-flexbox;display:flex}.call-back-btn{margin:1em 0;margin-left:1.5em}}@media(min-width:1440px){.call-back{-ms-grid-columns:30% 70%;grid-template-columns:30% 70%}.call-back-btn{justify-self:flex-end}.cb-form{justify-content:flex-end}#phone-num{width:50%;margin-right:0}}</style>
<section  id="callback-section-id" class="call-back">
  <div class="cb-text">
      <h2 class="call-back-head">Still Confused?</h2>
      <p class="call-back-text">
          Let us find the best yoga solution for you
      </p>
  </div>
  <div class="cb-form">
      <input id="phone-num" type="text" placeholder="+91  Phone number" />
      <button class="call-back-btn" type="button" onclick="submitCallback()" id="callback-id">Schedule Callback</button>
  </div>
</section>

<style>footer{padding:2em 5%;font-family:"Open Sans"}.nav-links{list-style-type:none;display:flex;justify-content:space-around;width:80%;margin:0 auto}.nav-links a{color:#000;font-weight:400;text-decoration:none}.terms-privacy ul{display:flex;justify-content:space-between;width:40%;margin:0 auto;list-style-type:none}.terms-privacy a{color:#808080;font-size:.9rem;text-decoration:none}.terms-privacy a:hover{color:#000;font-size:.9rem}.copyright{font-size:.9rem;padding:.5em 0;padding-top:1.5em;text-align:center;color:#808080}.desk-links{display:none}@media(min-width:768px){.desk-links{display:unset}.mob-links{display:none}.nav-links{width:65%;justify-content:space-around}.terms-privacy ul{width:30%;justify-content:space-around}}@media(min-width:1024px){.nav-links{width:50%}.terms-privacy ul{width:20%}}</style>
<footer>
  <div class="footer-nav">
      <nav>
          <ul class="nav-links">
              <li>
                  <a href="https://www.healthhighway.co.in/1-on-1-Pricing-Plan">Private Sessions</a>
              </li>
              <li>
                  <a href="https://www.healthhighway.co.in/Group-Yoga-Classes">Group Sessions</a>
              </li>
              <li class="desk-links"><a href="/">Home</a></li>
              <li class="desk-links"><a href="https://blogs.healthhighway.co.in/">Blogs</a></li>
          </ul>
      </nav>
      <p class="copyright">
          <span> &copy; </span> 2021 Health Highway. All Rights Reserved.
      </p>
      <nav class="terms-privacy">
          <ul>
              <li>
                  <a href="https://www.healthhighway.co.in/terms-and-conditions">Terms</a>
              </li>
              <li>
                  <a href="https://www.healthhighway.co.in/privacy-policy">Privacy</a>
              </li>
          </ul>
      </nav>
  </div>
</footer>

<script>
    var modalClose = document.querySelector(".closeSend");
    const submitCallback = async () => {
        let inputText = parseInt(document.querySelector("#phone-num").value);
        var regexp = /^\d{10}$/;
        if(regexp.test(inputText))
        {
            const response = await fetch("https://api.healthhighway.co.in/data/schedule-callback", {
                method  :"POST",
                headers : {
                    'Content-type' : 'application/json'
                },
                body : JSON.stringify({CONTACT : "+91"+inputText})
            });
            const decode = await response.json();
            console.log(decode);
            document.getElementById("callback-id").style.pointerEvents="none";
            infoModalOpenFunction("/images/callbackBooked.svg", "Callback Scheduled We will Contact you Shortly");
        }
        else
        {
            infoModalOpenFunction("/images/callbackBooked.svg", "Please Enter Correct 10 Digit Number");
        }
    }
    
</script>