<style>
    #video-component{padding:70px 0}#video-component .border{width:30%;height:.25em;background-color:#4ca9ee}#video-title{font-family:"Open sans",sans-serif;font-size:32px;font-weight:700;text-align:center;position:relative;margin-bottom:15px}#video-title span{color:#4ca9ee}#video-container{width:800px;margin:40px auto;position:relative}#thumbnail{position:absolute;top:0;left:0;right:0;bottom:0;background-image:url("https://ik.imagekit.io/healthhighway2020/grp-imgs/Screenshot_2021-11-30_203828_OD8lUhdrp.png?updatedAt=1638284925888");background-repeat:no-repeat;background-size:cover;border-radius:8px;overflow:hidden}#yogaVideo{width:100%;border-radius:8px}#video-controls{position:absolute;top:0;left:0;right:0;bottom:0}button img{pointer-events:none}#video-pause,#video-play{all:unset;background-color:transparent;position:absolute;margin-top:-66px;margin-left:-66px;top:50%;left:50%;cursor:pointer}#video-mute,#video-unmute{all:unset;background-color:transparent;position:absolute;left:30px;bottom:25px;cursor:pointer}#video-controls.controls-invisible{opacity:0}#video-controls.controls-visible{opacity:1}#video-container .video-display{display:none}@media(max-width:850px){#video-container{width:500px;margin:50px auto;background-size:cover}#video-container .border{width:25%}#video-pause,#video-play{margin-top:-40px;margin-left:-40px}#video-pause img,#video-play img{width:80px;height:auto}#video-title{font-size:28px}}@media(max-width:550px){#video-container{width:300px;margin:50px auto;background-size:cover}#video-container .border{width:22%}#video-pause,#video-play{margin-top:-30px;margin-left:-30px}#video-pause img,#video-play img{width:60px;height:auto}#video-mute,#video-unmute{left:20px;bottom:15px}#video-mute img,#video-unmute img{width:20px;height:auto}#video-title{font-size:20px}}@media(max-width:325px){#video-title{margin-bottom:8px}}@media(max-width:320px){#video-container{width:260px}#video-container .border{width:20%}#video-pause,#video-play{margin-top:-20px;margin-left:-20px}#video-pause img,#video-play img{width:40px;height:auto}#video-title{padding:0 10px;line-height:30px}}
</style>
<section id="video-component">
    <h2 id="video-title">
        <span>“</span>Don't <span style="color: #4ca8eec6;" >Believe</span>, Just <span style="color: #29E7CD">Experience</span>”</span>
    </h2>
    <!-- <div class="border"></div> -->

    <div id="video-container">
        <div id="thumbnail"></div>
        <video id="yogaVideo" src="https://ik.imagekit.io/healthhighway2020/Untitled_AMUgPuxfH-Ol.mp4?updatedAt=1633847198261" loop></video>
        <div id="video-controls">
            <button id="video-play">
                <img src="/images/play_circle.svg" alt="" />
            </button>
            <button id="video-pause" class="video-display">
                <!-- <button id="video-pause" class="video-display video-button-visible"> -->
                <img src="/images/pause_circle.svg" alt="" />
            </button>
            <button id="video-mute">
                <img src="/images/speaker-on.svg" alt="" />
            </button>
            <button id="video-unmute" class="video-display">
                <!-- <button id="video-unmute" class="video-display video-button-visible"> -->
                <img src="/images/speaker-off.svg" alt="" />
            </button>
        </div>
    </div>
</section>