<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Health Highway Privacy Policy</title>
        <link rel="icon" href="./images/hh-favicon.png">
    </head>
    <body style="background-color: white;" >

<div class="container">
  <h2>
    Refund Policy:
  </h2>
  <p>
    3.4.6 Cancellation and Refund Policy

In the event that, the Practitioner with whom User has booked a paid appointment via the Website, has not been able to meet the User, User will need to write to us at healthhighway2020@gmail.com within five (5) days from the occurrence of such event; in which case, the entire consultation amount as mentioned on the Website will be refunded to the User within the next five (5) to six (6) business days in the original mode of payment done by the User while booking. In case where the User does not show up for the appointment booked with a Practitioner, without cancelling the appointment beforehand, the amount will not be refunded. However, where cancellation charges have been levied (as charged by the Practitioner/Practice), you would not be entitled to complete refund even if you have cancelled beforehand

.In cases where the Practitioner is unable to meet the User at the scheduled appointment time, the User will be entitled to the rescheduling of the appointment
  </p>

  <a href="/" >BACK TO HOME PAGE</a>
</div>


<br/><br/><br/><br/><br/>

</body>

</html>