.call-back {
    padding: 1em 5%;
    background-color: #4ca9ee;
    color: white;
}

.call-back-head {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.call-back-text {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 12px;
    padding-top: 0.5em;
    font-weight: 600;
}

#phone-num {
    padding: 0.8em 1em;
    border: none;
    outline: none;
    font-family: "Montserrat";
    font-size: 12px;
    border-radius: 0.2em;
    margin-right: 1em;
}

.call-back-btn {
    padding: 0.5em 1.4em;
    font-family: "Montserrat";
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}

.cb-form {
    padding: 1em 0;
    display: flex;
}

@media(min-width:768px) {
    .call-back {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #phone-num {
        margin-right: 1em;
        width: 180px;
        border-radius: 10px;
    }
    .call-back-btn {
        border-radius: 10px;
    }
    .call-back-text {
        padding-top: .25em;
    }
}

@media(min-width:1024px) {
    .call-back {
        padding: 1em 8%;
    }
    .call-back-head {
        font-size: 32px;
    }
    .call-back-text {
        font-size: 14px;
    }
    #phone-num {
        width: 300px;
        font-size: 16px;
        margin-right: 1.5em;
    }
    .call-back-btn {
        font-size: 16px;
        padding: .5em 2em;
    }
}

@media(min-width:1440px) {
    #phone-num {
        width: 400px;
        margin-right: 2em;
    }
}

@media(max-width:320px) {
    .cb-form {
        flex-direction: column;
    }
    #phone-num {
        width: 180px;
        margin-bottom: 1em;
    }
    .call-back-btn {
        max-width: max-content;
    }
}